{% extends "base.html" %}

{% block content %}

<h3>Amsterdam Map</h3>

<h5>Dropdown <Menu></Menu>
</h5>

<!-- Build your select: -->
<form action="{{url_for('index')}}" name="main" method=post>
    <!--multiple data-live-search="true"-->
    <select id='obj_list' name='obj_list' class='selectpicker' multiple data-live-search="true">
        <!-- Filling dropdown menu -->
        {% for o in objects %}
        <option value="{{o}}">{{o}}</option>
        {% endfor %}
    </select>
    <input type='submit' value="POST">
</form>

<!-- Initialize the plugin: -->
<script>
    var form = document.forms.namedItem("main");
    form.addEventListener('submit', function(ev) {
        var oData = new FormData(form);
        var oReq = new XMLHttpRequest();
        oReq.open("POST", "{{url_for('index')}}", true);
        oReq.onload = function(oEvent) {
            if (oReq.status == 200) {
                document.getElementById('obj_list').value;
            } else {
                alert("Error " + oReq.status + " occurred when trying to upload your file")
            }
        };

        oReq.send(oData);
        ev.preventDefault();
    }, false);
</script>
<script type="text/javascript">
    $('select').selectpicker();
</script>
<pre id='cordInfo'></pre>
<div id='map'></div>

<script type="text/javascript" src="../static/js/amsterdam.js"></script>
<script type="text/javascript">
    // Having this error: Uncaught SyntaxError: Unexpected token '{'
    var myVar = {
        {
            data | safe
        }
    };
    console.log(myVar)
</script>

{% endblock %}