{% extends "base.html" %}

{% block content %}

<h3>Amsterdam Map</h3>

<h5>Dropdown <Menu></Menu>
</h5>

<!-- Build your select: -->
<form action="{{url_for('index')}}" name="main" method=post>
    <!--multiple data-live-search="true"-->
    <select id='obj_list' name='obj_list' class='selectpicker' multiple data-live-search="true">
        <!-- Filling dropdown menu -->
        {% for o in objects %}
        <option value="{{o}}">{{o}}</option>
        {% endfor %}
    </select>
    <input type='submit' value="POST">
</form>

<!-- Initialize the plugin: -->
<script>
    var form = document.forms.namedItem("main");
    form.addEventListener('submit', function(ev) {
        var oData = new FormData(form);
        var oReq = new XMLHttpRequest();
        oReq.open("POST", "{{url_for('index')}}", true);
        oReq.onload = function(oEvent) {
            if (oReq.status == 200) {
                document.getElementById('obj_list').value;
            } else {
                alert("Error " + oReq.status + " occurred when trying to upload your file")
            }
        };

        oReq.send(oData);
        ev.preventDefault();
    }, false);
</script>
<script type="text/javascript">
    $('select').selectpicker();
</script>

<!-- Load data in the beginning not to get error -->
<div id="holder"></div>

<script>
    // Receive geom_data and write in paragraphs
    var arr = {{ geom_data | safe }};
    // var holder = document.getElementById("holder");
    // for(var i=0; i < arr.length; i++)
    //     holder.innerHTML += "<p>"+arr[i].geometry.coordinates+"</p><br>";
</script>

<!-- Load coordinates -->
<pre id='cordInfo'></pre>
<!-- Load map -->
<div id='map'></div>

<script type="text/javascript" src="../static/js/amsterdam.js"></script>

{% endblock %}