{% extends "base.html" %}

{% block content %}
  <h3>Amsterdam Map</h3>

  <div id="navigation" class="row">
    <h4>Navigation</h4>
  </div>

  <div id="geoMap" class="row">

    <div id='map'></div>
    <!-- <script type="text/javascript">
      //MAPBOX.JS
      mapboxgl.accessToken = 'pk.eyJ1Ijoibmlsc2xlaCIsImEiOiJjazczNHVscGwwOG12M3BqdDZieHJhMW82In0.c-i1H2T6u3vjmj4WY_D2mA'
    
      //Setup mapbox-gl map
      var map = new mapboxgl.Map({
        container: 'map', // container id
        style: 'mapbox://styles/mapbox/streets-v9',
        center: [-21.9270884, 64.1436456],
        zoom: 13,
          
    });
    </script> -->
    <script type="text/javascript" src="../static/js/amsterdam.js"></script>
    
  </div>

{% endblock %}

